<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e01d461d-dc24-4701-8ff2-56badd14b7b9/resourcegroups/contosoDbFirst/providers/Microsoft.Web/sites/ContosoSite120190121010057</ResourceId>
    <ResourceGroup>contosoDbFirst</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://contososite120190121010057.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>contososite120190121010057.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ContosoSite120190121010057</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ContosoSite120190121010057</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ContosoUniversityDataEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:contososite120190121010057dbserver.database.windows.net,1433;Initial Catalog=ContosoSite120190121010057_db;User ID=sysadmin@contososite120190121010057dbserver;Password=DoYourBest1!" Name="Data Source=tcp:contososite120190121010057dbserver.database.windows.net,1433;Initial Catalog=ContosoSite120190121010057_db;User Id=sysadmin@contososite120190121010057dbserver;Password=DoYourBest1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ContosoSite1.Models.ContosoUniversityDataEntities, ContosoSite1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ContosoSite1.Models.ApplicationDbContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:contososite120190121010057dbserver.database.windows.net,1433;Initial Catalog=ContosoSite120190121010057_db;User ID=sysadmin@contososite120190121010057dbserver;Password=DoYourBest1!" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ContosoSite1.Models.ApplicationDbContext, ContosoSite1" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ContosoSite1.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:contososite120190121010057dbserver.database.windows.net,1433;Initial Catalog=ContosoSite120190121010057_db;User ID=sysadmin@contososite120190121010057dbserver;Password=DoYourBest1!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ContosoUniversityDataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ContosoModel.csdl|res://*/Models.ContosoModel.ssdl|res://*/Models.ContosoModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:contososite120190121010057dbserver.database.windows.net,1433;Initial Catalog=ContosoSite120190121010057_db;User Id=sysadmin@contososite120190121010057dbserver;Password=DoYourBest1!"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>